
.btn-dark:hover{
    background-color: #FD0054;
}
.btn-light:hover{
    background-color: #A80038;
   
}
footer{
    background-color: #FD0054;
    color:#FBF9FA;
}
.final{
    background-color: #ffffff;
    color: #FBF9FA;
}

#carrusel{
    height: 500px;
    width: 250px;
}

#promociones{
    height: 400px;
    width: 400px;
}

#cabtext{
    color: black;
}

#navbarDropdown{
    color: black;
}